<div id="user-edit-page">
    <div class="container">
        <h1 class="title">Бот - facebook.com - #123 - Пользователь: {{vm.user.name}}</h1>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Редактирование данных</h3>
                <div class="button-wrapper pull-right">
                    <button type="button" class="btn btn-warning btn-xs" ng-click="vm.goBack()">Назад</button>
                </div>
            </div>
            <div class="panel-body align-center">
                <div ng-if="vm.user" class="align-center">
                    <img class="avatar" ng-src="{{vm.user.avatarUrl}}"/>
                    <form class="form-inline">
                        <div class="form-group">
                            <input class="form-control" id="userName" ng-model="vm.user.name" ng-disabled="vm.disabled">
                        </div>
                        <div class="form-group">
                            <div class="button-wrapper" ng-if="vm.disabled">
                                <button type="button" class="btn btn-xs" ng-click="vm.editName('click')">Редактировать</button>
                            </div>
                            <div class="button-wrapper" ng-if="!vm.disabled">
                                <button type="button" class="btn btn-danger btn-xs" ng-click="vm.saveChanges(vm.user)">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="text-center" ng-if="vm.ok">
                    <h4>Данные пользователя успешно сохранены!</h4>
                </div>
                <div ng-if="!vm.user">
                    <i class="fa fa-3x fa-circle-o-notch fa-spin color-red"></i>
                </div>
            </div>
        </div>
    </div>
</div>

